block footer
    script(src='/assets/sbadmin2/js/jquery.js')
    script(src='/assets/sbadmin2/js/bootstrap.min.js')
    script(src='/assets/sbadmin2/js/plugins/metisMenu/metisMenu.min.js')
    script(src='/assets/sbadmin2/js/sb-admin-2.js')