block footer
    script(src='/assets/sbadmin2/js/jquery.js')
    script(src='/assets/sbadmin2/js/bootstrap.min.js')
    script(src='/assets/sbadmin2/js/plugins/metisMenu/metisMenu.min.js')
    script(src='/assets/sbadmin2/js/plugins/morris/raphael.min.js')
    script(src='/assets/sbadmin2/js/plugins/morris/morris.min.js')
    script(src='/assets/sbadmin2/js/plugins/morris/morris-data.js')
    script(src='/assets/sbadmin2/js/sb-admin-2.js')
    script(src='/assets/js/moment.js')