div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
 div.container
  div.navbar-header
   button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
    span.icon-bar
    span.icon-bar
    span.icon-bar
   a.navbar-brand(href="/")
    | MI5 Dashboard
  div.collapse.navbar-collapse
   ul.nav.navbar-nav
    li
     a(href="/") Home
    li
     a(href="/testGuiElements") GUI - Elements V1
    li
     a(href="/testModuleView") Module View (Test)
    li
     a(href="/testRecipeView") Recipe View (Test)
    li
     a(href="/testTaskView") Task View (Test)
     
mixin messageFeedHtml()
        script socket.on('messageFeed', function(msg){
         | var currText = $('#messageFeed').val();
         | var newText = 'ID:'+msg.ID.value+' | Level: '+msg.Level.value+' | Msg: '+msg.Message.value+' | Timestamp: '+msg.Timestamp.value;
         | $('#messageFeed').val(newText+"\n"+currText); 
         | console.log(msg); 
         | });

div.container
    div.col-xs-12.well
        ul
            li Systemtime
                div#serverTime ...
                script socket.on('serverTime', function(msg){ $('#serverTime').html(msg); });
            li
                textarea(rows=3, cols=50, id="messageFeed") ...
                +messageFeedHtml()
            li Status Messages
                div#statusMessages ...
                script socket.on('statusMessages', function(msg){ $('#statusMessages').html(msg); });
              
              
              