extends layout

block content
  div#wrapper
    nav.navbar.navbar-default.navbar-static-top(role='navigation',style='margin-bottom: 0')
      div.navbar-header
        button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Mi5-Dashboard  
      ul.nav.navbar-top-links.navbar-right
        li.dropdown
          a.dropdown-toggle(href='#',data-toggle='dropdown')
            i.fa.fa-envelope.fa.fw
            i.fa.fa-caret-down
          ul.dropdown-menu.dropdown-messages
            li
              a(href='#')
                div
                  strong John Smith
                  span.pull-right.text-muted
                    em Yesterday
            li.divider
            li     
              a(href='#')
                div
                  strong John Smith
                  span.pull-right.text-muted
                    em Yesterday
                    