doctype html
html(lang="en")
 head
  block head
   block title
    title SB Admin V2 - Mi5 - HMI
   block meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Viewport needed, so that it is showd in the right scale on smartphones
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='keywords', content='')
   block css
    link(rel='stylesheet', href='/assets/sbadmin2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/bootstrap-slider/css/bootstrap-slider.css')
    link(rel='stylesheet', href='/assets/sbadmin2/css/plugins/metisMenu/metisMenu.min.css')
    link(rel='stylesheet', href='/assets/sbadmin2/css/plugins/timeline.css')
    // link(rel='stylesheet', href='/assets/sbadmin2/css/sb-admin-2-darker.css')
    link(rel='stylesheet', href='/assets/sbadmin2/css/sb-admin-2.css')
    link(rel='stylesheet', href='/assets/sbadmin2/css/plugins/morris.css')
    link(rel='stylesheet', href='/assets/sbadmin2/font-awesome-4.1.0/css/font-awesome.min.css', type='text/css')  
    | <style>
    | //body { padding-top: 60px; }
    | </style>
   block scripts
    // /socket.io/ is served by the socket.io node package
    script(src='/assets/sbadmin2/js/jquery.js' type='text/javascript')
    script(src='/socket.io/socket.io.js')
    script var socket = io();
    | <!--[if lt IE 9]>
    |   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    |   <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    | <![endif]-->
    
 body
 
   include mixins/sbadmin

   div#wrapper
     include navigation
     
     div#page-wrapper
       div.container-fluid
         block content

   include footer