doctype html
html(lang="en")
 head
  block head
   block title
    title SB Admin V2 - Mi5 - HMI
   block meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Viewpoert needed, so that it is showd in the right scale on smartphones
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='keywords', content='')
   block css
    link(rel='stylesheet', href='/assets/sbadmin2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/sbadmin2/css/plugins/metisMenu/metisMenu.min.css')
    link(rel='stylesheet', href='/assets/sbadmin2/css/sb-admin-2.css')
    link(rel='stylesheet', href='/assets/sbadmin2/font-awesome-4.1.0/css/font-awesome.min.css', type='text/css')  
    | <style>
    | //body { padding-top: 60px; }
    | </style>
   block scripts
    // /socket.io/ is served by the socket.io node package
    script(src='/socket.io/socket.io.js')
    script var socket = io();
 body
  include header
  
  block content

  include footer