
include mixins/messageFeed
include mixins/debug

nav.navbar.navbar-default.navbar-static-top(role='navigation',style='margin-bottom: 0')
    div.navbar-header
        button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Mi5-Dashboard  
    ul.nav.navbar-top-links.navbar-right
      //- +dropdown-alerts()
      +dropdown-messageFeed()
      //- +dropdown-tasks()
      li
        a(href='/input', style='color:#999999')
          i.fa.fa-cube.fa-fw
          span#inputBadge
          script.
            socket.on("inputRequired", function(data){
              - console.log('JADE: inputBadge received');
              if(data === false){
                $("#inputBadge").removeClass("badge-top alert-danger").html("");
              } else if (data === true){
                $("#inputBadge").addClass("badge-top alert-danger").html('<i class="fa fa-map-marker fa-fw"></i>');
              }
            });
      li
        a(href='/output', style='color:#999999')
          i.fa.fa-cubes.fa-fw
          span#outputBadge
          script.
            socket.on("outputRequired", function(data){
              - console.log('JADE: outputBadge received');
              if(data === false){
                $("#outputBadge").removeClass("badge-top alert-danger").html("");
              } else if(data === true){
                $("#outputBadge").addClass("badge-top alert-danger").html('<i class="fa fa-map-marker fa-fw"></i>');
              }
            });
      li
        a(href='/manual', style='color:#999999')
          i.fa.fa-gavel.fa-fw
          span#manualBadge
          script.
            socket.on("manualRequired", function(data){
              - console.log('JADE: manualBadge received');
              if(data === false){
                $("#manualBadge").removeClass("badge-top alert-danger").html("");
              } else if(data === true) {
                $("#manualBadge").addClass("badge-top alert-danger").html('<i class="fa fa-map-marker fa-fw"></i>');
              }
            });
      li
        a(href='/maintenance', style='color:#999999')
          i.fa.fa-fire-extinguisher.fa-fw
          span#maintenanceBadge
          script.
            socket.on("maintenanceRequired", function(data){
              - console.log('JADE: maintenanceBadge received');
              if(data === false){
                $("#maintenanceBadge").removeClass("badge-top alert-danger").html("");
              } else if(data === true){
                $("#maintenanceBadge").addClass("badge-top alert-danger").html('<i class="fa fa-map-marker fa-fw"></i>');
              }
            });
      +dropdown-time()
      //- Debug options
      +dropdown-debug()
      
      
    div.navbar-default.sidebar(role='navigation')
      div.sidebar-nav.navbar-collapse
        ul.nav#side-menu
          li.sidebar-search
            div.input-group.custom-search-form
              input.form-control(type='text',placeholder='Search...')
              span.input-group-btn
                button.btn.btn-default(type='button')
                  i.fa.fa-search 
          li
            a(href='/dashboard')
              i.fa.fa-dashboard.fa-fw 
              | Dashboard
          li
            a(href='/order')
              i.fa.fa-edit.fa-fw
              | Order
          li
            a(href='/tasks')
              i.fa.fa-shopping-cart.fa-fw
              | Tasks
          li 
            a(href='/input')
              i.fa.fa-cube.fa-fw
              | Manual Input
          li 
            a(href='/output')
              i.fa.fa-cubes.fa-fw
              | Manual Output
          li 
            a(href='/manual')
              i.fa.fa-gavel.fa-fw
              | Manual Module
          li 
            a(href='/maintenance')
              i.fa.fa-fire-extinguisher.fa-fw
              | Maintenance Module
          li
            a(href='/overview')
              i.fa.fa-bar-chart-o.fa-fw
              | Overview
          li
            a(h='', style='color:#999999')
              i.fa.fa-globe.fa-fw
              | Simulation      
          li
            a(h='', style='color:#999999')
              i.fa.fa-camera.fa-fw
              | Camera  
          li
            a(href='#')
              i.fa.fa-sitemap.fa-fw
              | Modules
              span.fa.arrow
            ul.nav.nav-second-level
              li
                a(href='#')
                  i.fa.fa-link.fa-fw
                  | 1000 - Cookie
              li
                a(href='#')
                  i.fa.fa-link.fa-fw
                  | 1100 - Cocktail
              li
                a(href='#')
                  i.fa.fa-link.fa-fw
                  | 1200 - Cream
              li
                a(href='#')
                  i.fa.fa-link.fa-fw
                  | 1300 - XTS
              li
                a(href='#')
                  i.fa.fa-link.fa-fw
                  | 1400 - Manual
              li
                a(href='#')
                  i.fa.fa-link.fa-fw
                  | 2003 - Output