extends layout

block content
  include mixins/orderCustomCookie
  include mixins/orderCustomCocktail
  br
  div.row<!--(style="padding-top:50px")-->
        if recipes
            for recipe in recipes
              div.panel.panel-default
                   div.panel-heading
                     div.row
                      <!--div.jumbotron-->
                      div.col-lg-6.col-md-6.text-center
                          img(id="pictureRecipe"+recipe.RecipeID.value src="/assets/images/recipes/recipe"+recipe.RecipeID.value+"/cocktail.jpg" style="border-radius: 100%; horizontal-align: middle; vertical-align: middle; width:70%")
                      div.col-lg-6.col-md-6
                        div.jumbotron
                            span.pull-right
                                    +feedbackButton("Cocktail #{recipe.Name.value}")
                            h1
                                | #{recipe.Name.value}
                            p= recipe.Description.value
                   div.panel-body
                    form(role="form", action="/order/order/"+recipe.RecipeID.value, method="POST", id='formIdSerialize')
                         if(recipe.UserParameter[0])
                            //begin of site for COOKIES:
                            if(recipe.UserParameter[0].Name.value=="Topping")
                                - console.log("recipe is a cookie recipe");
                                + orderCustomCookie(recipe)
                            //begin of site for COCKTAILS:
                            if(recipe.UserParameter[0].Name.value=="Total Liquid Amount")
                               //-then the recipe is for a cocktail
                               - console.log("recipe is a cocktail recipe");
                               +orderCustomCocktail(recipe)
                         else
                            p.lead recipe is empty
                         br
                         div.row
                           div.col-lg-12
                            div.col-xs-6
                             span.pull-left
                                a.btn.btn-primary.btn-lg(href="/order" role="button") Back
                            div.col-xs-6
                             span.pull-right
                                button.btn.btn-primary.btn-lg(type="submit") Place Order!