extends layout

block content
  div.row
    div.col-lg-12
        h1.page-header Order something!
        //p You may choose whatever you want!
        //p Underneath you will find anything we can produce. Please select something.
        //p If there are too many things, let us surprise you!
        span.pull-left
         a.btn.btn-default.btn-lg(href='/order/ifeellucky/',role='button',style="margin-bottom: 20px") 
           i.fa.fa-magic.fa-lg
           | I feel lucky!
  
  
  div.row
     if recipes
        for recipe in recipes
          //-console.log("new recipe" + recipe.Name.value);
          div.col-lg-4.col-md-6.col-sm-6
            div.panel.panel-primary(style="width:100%, height:100%")
              a.panel-primary(href="/order/custom/"+recipe.RecipeID.value)
               div.panel-heading.panel-primary
                 div.row
                   div.col-lg-4.col-md-4.col-sm-4.col-xs-4.text-center
                      img(src="/assets/images/recipes/recipe"+recipe.RecipeID.value+"/cocktail.jpg" style="border-radius: 100%; height:200%; width:200%")
                   div.col-lg-8.col-md-8.col-sm-8.col-xs-8.text-right(style='padding-right: 5px')
                     div.row
                        div.col-lg-12.col-md-12.col-sm-12.col-xs-12 ID: # #{recipe.RecipeID.value}
                        div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                          span.pull-right
                            h5= recipe.Name.value 
               a(href="/order/direct/"+recipe.RecipeID.value)
                  div.panel-footer
                    span.pull-left 1-click order!
                    span.pull-right 
                      i.fa.fa-arrow-circle-right
                    div.clearfix
     else
       p no recipe to display