extends layout
include mixins/gui-elements

block content
    div.container-fluid
        div.row
            div.col-xs-12
                p= content
                if list
                    ul
                        for entry in list
                            li= entry

                    