extends layout
include mixins/gui-elements

block content
    div.container
     div.col-xs-12.well
                p hallo
                p= content
                if list
                    ul
                        for entry in list
                            li= entry