//div.container-fluid
//    div.row
//        div.footer.col-xs-12
//            hr(style='margin: 30px 0 10px 0;')
//            p &copy;&nbsp;
//                a(href='#') Showcase MI5
//                |, 2014

link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap-theme.css')
script(src='/assets/bootstrap/js/bootstrap.min.js')

block footer