extends layout
include mixins/gui-elements

block content
    div.container
     div.col-xs-12.well
        h1 Test for Jonas 1
        ul
            li Systemtime
                div#hmiSystemTime ...
     div.col-xs-12.well
        +nameReadWriteKeyup('Variable 1', IDread1, ReadEventName1, IDwrite1, EventName1)
        p insert here a slider using a mixin: Also on Variable 1
        p insert here a progressbar using a mixin (on a first step, it might not be autoupdate itself, if the value behind changes.)
        
        
     div.col-xs-12.well
        +moduleView(moduleData)
    
    block socketscripts
        script socket.on('hmiSystemTime', function(msg){ $('#hmiSystemTime').html(msg); });