extends layout
include mixins/gui-elements

block content
    div.container
     div.col-xs-12.well
        h1 Test for Module View
        ul
            li Systemtime
                div#hmiSystemTime ...
                    
     div.col-xs-12.well
       if moduleData
        +moduleView(moduleData)
       else
        p no module to display
    
    block socketscripts
        script socket.on('hmiSystemTime', function(msg){ $('#hmiSystemTime').html(msg); });