extends layout

block content
    div.container
        h1 Test for Jonas 1
        p In this Template a Task with ID XYZ shall be tested
        p If this is blinking
        
        ul
            li Systemtime
                div#socket_clock Original Text
            li NS=1;i=1001 / OPC UA Test
                div#ns1i1001 zahl
            li 
                input.form-control#ns1i1001(type='text', placeholder='', readonly)
    
    block socketscripts
        script socket.on('socket_clock', function(msg){ $('#socket_clock').html(msg); });
        script socket.on('ns1i1001', function(msg){ console.log(msg); $('#ns1i1001').html(msg); $('#ns1i1001').placeholder(msg); });
        //script setInterval(function(){ socket.emit('isLive', 1); }, 1000);