extends layout
include mixins/gui-elements

block content
    div.container
     div.col-xs-12.well
        h1 Test for Recipe View
        ul
            li Systemtime
                div#serverTime ...
                    
     
     if recipes
        for recipe in recipes
          div.col-xs-12.well
            p (#{recipe.ID.value}) #{recipe.Name.value}
            p= recipe.Description.value
            form.form-horizontal(role="form", action="?recipeId="+recipe.ID.value, method="POST")
                for parameter in recipe.parameters
                    +userParameterInForm(parameter.Default.value, parameter.MinValue.value, parameter.MaxValue.value) 
                button.btn.btn-default(type="submit") Place your order
     else
        div.col-xs-12.well       
            p no recipe to display
    
    
    block socketscripts
        script socket.on('serverTime', function(msg){ $('#serverTime').html(msg); });