extends layout
include mixins/gui-elements

block content
 div.container-fluid
  div.row
   div.col-sm-12.col-md-12.main
    h1 Creme Module
    div.col-xs-12.col-sm-4.placeholder.well
     img.img-responsive(src="/assets/images/modules/module_creme.png")
    div.col-xs-12.col-sm-8.well
     h4.text-left Status
     table.table.text-left
      thead
       tr
        th(width='25%') Name
        th(width='75%') Value
      tbody
       tr
        td Topping
        td ok
       tr
        td Time To Revision
        td ok
    div.col-xs-12.col-sm-8.well
     h4.text-left Values
     table.table.text-left
      thead
       tr
        th(width='25%') Name
        th(width='75%') Value
      tbody
       tr
        td Topping
        td
         +progressbar(33)
       tr
        td Time To Revision
        td 
         +progressbar(90)
  div.row
   div.col-sm-12.col-md-12.main
    h1 Creme Module
    div.col-xs-12.col-sm-4.placeholder.well
     img.img-responsive(src="/assets/images/modules/module_creme.png")
    div.col-xs-12.col-sm-8.well
     h4.text-left Status
     table.table.text-left
      thead
       tr
        th(width='25%') Name
        th(width='75%') Value
      tbody
       tr
        td Topping
        td ok
       tr
        td Time To Revision
        td ok
    div.col-xs-12.col-sm-8.well
     h4.text-left Values
     table.table.text-left
      thead
       tr
        th(width='25%') Name
        th(width='75%') Value
      tbody
       tr
        td Topping
        td
         +progressbar(33)
       tr
        td Time To Revision
        td 
         +progressbar(90)
         

 