extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 HMI Test Suite
  p This page shall lead you through the test suite of the HMI-Subproject of the Project MI5. Project MI5 is funded by ITQ.
  p For further Information go to:
  ul
    li 
      a(href='basicread') OPC UA Basic Read
    li      
      a(href='diagrams') Diagrams
    li      
      a(href='dashboard') Dashboard Test Suite
    li      
      a(href='bootstrap') Bootstrap Test
  
  