//- Dropdown notification 
//- With JS Tag to update list
mixin dropdown-debug()
        li.dropdown
          a.dropdown-toggle.text-muted(href='#',data-toggle='dropdown')
            i.fa.fa-code.fa-fw#debugListButton
          ul.dropdown-menu.dropdown-messages
            li     
              a()
                div
                  strong Debugging Helper - use with care!
            li.divider
            li
              a(href='#', onclick="$('#id86ef3c086c7c1169b4eb089d18ecb052icon').val('bounce');")                
                div
                  i.fa.fa-pencil.fa-fw
                  strong Highlight Debug-Button
            li.divider
            li     
              a(href='#',onclick="socket.emit('bgDebugOrderPendingFalse',1);")
                div
                  i.fa.fa-pencil.fa-fw
                  strong Mi5.Order[0].pending
                  span.pull-right.text-muted
                    em = false