//- Dropdown notification 
//- With JS Tag to update list
mixin dropdown-messageFeed()
        li.dropdown
          a.dropdown-toggle(href='#',data-toggle='dropdown', style='color:#999999')
            i.fa.fa-envelope.fa.fw
            //- span.badge.alert-info (blue)
            span#messageFeedBadge
            //- i.fa.fa-caret-down //- not necessary cause auf messageFee
            script.
              socket.on("messageFeedBadge", function(data){
                if(data == 0){
                  $("#messageFeedBadge").removeClass("badge-top").html("");
                } else {
                  $("#messageFeedBadge").addClass("badge-top").html(data);
                }
              });
             
          ul.dropdown-menu.dropdown-messages#messageFeedList
            li     
              a(href='#')
                div
                  strong Site has been loaded
                  span.pull-right.text-muted
                    em just now
            script
             | socket.on('messageFeedArray', function(msgs){
             |  var newestMessageFeed = '';
             |  msgs.forEach(function(msg){
             |   newestMessageFeed = newestMessageFeed + '
             +messageFeed-element-innerJS('msg.Level.value', 'msg.Message.value', 'msg.Timestamp.value')
             |   ';  // newestMessageFeed
             |  });
             |  $("#messageFeedList").html(newestMessageFeed);
             |  console.log(newestMessageFeed);
             |  $("#messageFeedList").append('
             li
               a(href="/messageFeed/")
                 div
                   i.fa.fa-files-o.fa-fw.text-muted
                   span.pull-right.text-muted See all messages.
             | '); //append
             | });
             
mixin messageFeed-element-innerJS(level, message, time)
            li     
              a(href='#')
                div
                  //- is used inside an ''-JS braces, therefore we need to close, add and reopen
                  strong '+#{level}+'
                  span.pull-right.text-muted
                    em '+#{time}+'
                div '+#{message}+'
            li.divider
            
            
mixin messageFeed-panel()
  div.panel.panel-default
    div.panel-heading
      i.fa.fa-envelope.fa-fw 
      | Message Feed
      div.pull-right
        | like
    div.panel-body
          ul#messageFeedPanel //- TODO: check a listed item in notifications panel
            li     
              a(href='#')
                div
                  strong Site has been loaded
                  span.pull-right.text-muted
                    em just now
            script
            | socket.on('messageFeedPanel', function(msgs){
            |  var newestMessageFeed = '';
            |  msgs.forEach(function(msg){
            |   newestMessageFeed = newestMessageFeed + '
            +notification-element-innerJS('msg.Level.value', 'msg.Message.value', 'msg.Timestamp.value')
            |   '; //messageFeedPanel
            |  });
            |  $("#messageFeedPanel").html(newestMessageFeed);
            | });



mixin messageFeedSingle()
        script socket.on('messageFeed', function(msg){
         | var currText = $('#messageFeed').val();
         | var newText = 'ID:'+msg.ID.value+' | Level: '+msg.Level.value+' | Msg: '+msg.Message.value+' | Timestamp: '+msg.Timestamp.value;
         | $('#messageFeed').val(newText+"\n"+currText); 
         | console.log(msg); 
         | });
